{{!-- {{#if model.deshabilitado}}

  {{#if model.nombre}}
    <img class='grayscale semi-transparente' src='images/desafios/{{model.nombre}}.png'>
  {{else}}
    <img class='grayscale semi-transparente' src='images/desafios/proximamente.png'>
  {{/if}}

  <div class="ribbon right gray semi-transparente">
    <a>Muy pronto</a>
  </div>

  <div class='pilas-desafio-titulo'>{{model.titulo}}</div>

{{else}} --}}
{{!-- <h3><button {{action "toggleBody"}}>{{title}}</button></h3>
{{#if isShowingBody}}
  <p>{{{body}}}</p>
{{/if}} --}}

{{! app/templates/application.hbs}}
{{settings.desafio}} 
  {{#link-to "desafio" model  }}

    {{#if model.nombre}}
      <img class='desafio-img' src='images/desafios/{{model.nombre}}.png'>
    {{/if}}

    <div class='pilas-desafio-titulo'>{{model.titulo}} {{settings.desafio}} </div>
  {{/link-to}}

{{!-- {{/if}}
 --}}